<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button routerLink="\contact-add">ADD CONTACT</ion-button>

  <ion-list>
    <ion-card *ngFor="let item of contacts">
      <ion-card-header>
      <h1>{{item?.contact?.nome | uppercase}}</h1>
      </ion-card-header>
      <ion-card-content>
      <p>{{item?.contact?.telefone | uppercase}} - {{item?.contact?.email | uppercase}}</p>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
